body{
margin: 0;
padding: 0;

}
label{
    padding-right: 100px;
}
.header{
height: 35px;
background-color: aquamarine;

}

.container{

    display: flex;
    height: 80%;
    border: 2px solid black;
    
}
.rigth_flex_item{
    padding-left: 20px;
    background-color: gray; 
    border: 1px solid black;
    height: 100vh;
    width: 50%;

}
.form_control{
margin-bottom: 20px;
display: flex;
}
.form_control label{
    width: 50%;
}

.left_flex_item{

   padding-left: 20px;
    background-color: gray; 
    flex-direction: column;
    padding-top: 10px;
    border: 1px solid black;
    height: 100vh;
    width: 50%;

}

.footer{
    background-color: gray;
    text-align: center;
}