body{
    background-color: #595647;
    color: #fff;
}

h1{
    color: #a5bfe9 ;
}
p b{
    font-weight : 2em  !important;
}
h2{
    color:#a5bfe9 ;
}
ol li a {
    text-decoration: none;
    color: red;
}
p#intro{
    transform: scale(1,-1);

}

p#intro::first-letter{
    font-weight: bold;
}
p#sub1,#sub2,#sub3{

    color: yellow!important;
}
